################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Dewey/bin/
/Dewey/obj/
/DeweyEF/bin/
/DeweyEF/obj/
/Dewey.Herodotus/bin/
/Dewey.Herodotus/obj/
/DeweyEF.Herodotus/bin/
/DeweyEF.Herodotus/obj/
*.exe
